body {
    margin: 0px;
    text-align: center;
    color: white;
    background-size: cover;
    font-family: 'Baloo 2', cursive;
    background: linear-gradient(to right, lightblue, lightpink);
}
.border {
    display: inline-block;
    margin-top: 10%;
    width: 40vh;
    height: 75vh;
    background-color: black;
    box-shadow: 4px 4px 4px 6px grey;
    outline: 12px outset #2398bf;
   
}
.title {
    color: rgb(255, 255, 255);
    float: left;
    margin-left: 1vh;
    margin-top: 2px;
    font-weight: bold;
}
.flt-ryt {
    float: right;
    margin-right: 2vh;
    margin-top: 1px;
}
.right {
    float: right;
}
#space {
    background-color: rgb(80, 76, 76);
    height: 1vh;
    width: 14vh;
    margin: 9px 0px 0px 36px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.home {
    background-color: black;
    padding-top: 2vh;
    display: block;
    
}
.flex {
    display: flex;
}
.icon {
    width: 2vw;
    padding: 1vh;
}
.top {
    position: fixed;
    background-color: black;
    padding-top: 1vh;
}
.icons {
    width: 1.5vw;
    height: 3vh;
    position: relative;
    left: 17vh;
}
.insta {
    width: 6vw;
    padding: 5px;
}
.post {
    margin-top: 6vh;
}
.dot {
    float: right;
}
.left {
    float: left;
}
#name{
    padding-top: 1vh;
    float: left;
}
.pic {
    width: 19vw;
    height: 40vh;
}
.circle {
    border-radius: 4vh;
    height: 5vh;
    width: 5vh;
}
.cmt{
    width: 1.5vw;
    height: 3vh;
    float: left;
    padding: 1vh;
}
.search{
    display: block;
}
.search > input {
    padding: 5px;
    border-radius: 1vh;
    border: none;
    width: 17vw;
    background-color: #7a7979;
    margin: 2vh;
}
.images {
    width: 19.3vw;
    background-color: red;
    flex-wrap: wrap;
}
.hws{
    height: 9vh;
    width: 4.825vw;
}
.h1 {
        position: relative;
        left: -63px;
        top: -3vh;
}
.detal{
    padding: 1vh;
}
.sid{
    height: 5vh;
    float: right;
    width: 2vw;
}
.text {
    position: relative;
    top: 1vh;
}
.btm {
    display: flex;
    background-color: black;
    position: fixed;
    width: 19.3%;
    top: 88.6%;
    justify-content: space-around;
}
.none{
    display: none;
}
 button {
    border: none;
    background: transparent;
}