body{
    margin: 0px;
    background-image: url('./../image/background.jpg');
    background-size: cover;
    text-align: center;
}
.border{
    border: 3px solid #000000f0;
    display: inline-block;
    border-radius: 4vh;
    margin-top:10% ;
    /* width: 40vh; */
}
span{
    color: rgb(255, 255, 255);
    float: left;
    margin-left: 1vh;
    font-weight: bold;
}
.flt-ryt{
    float: right;
    margin-right: 1vh;
}
#space{
    background-color: grey;
    height: 1vh;
    width: 14vh;
    margin: 9px 0px 0px 36px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.display{
    background-color: black;
    height: 30vh;
    border: 1px solid rgb(0, 0, 0);
    border-top-right-radius: 21px;
    border-top-left-radius: 21px;
}
input{
    margin-bottom: 0px;
    background-color: black;
    font-weight: bolder;
    border: none;
    padding: 3px;
    text-align: right;
    margin-right: -37px;
}
input:focus-visible{
    background-color: #DDD0E1;
    border: none;   
}
.buttons > .a{
    text-decoration: none;
    padding: 0px 16px 0px;
    font-size: 61px;
    color: black;
    cursor: pointer;
}
.sym{
    font-size:40px ;
    text-decoration: none;
    padding: 12px 12px 2px;
    font-size: 32px;
}
.buttons > a:hover{
    background-color: #ddd0e19d;
    height: auto;
    width: auto;
    color:rgb(73, 73, 73);
    cursor: pointer;
}