body {
    margin: 0px;
    background-image: url('./../images/cal.webp');
    background-size: cover;
    font-family: 'Smooch Sans', sans-serif;
}
#h1{
    border: 2px solid;
    text-align: center;
    background: linear-gradient(to right, rgb(39, 7, 7),rgb(60, 60, 98));
    margin: 1vh;
    padding: 2vh;
    color: whitesmoke;
}
.container{
    box-shadow: 10px 10px 8px 10px #888888;
  width: 121vh;
  position: absolute;
  left: 21%;
  top: 25%;
  padding: 5%;
}
input {
    border-radius: 2vh;
    margin: 1vh;
    height: 5vh;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: bold;
}
#take3{
    background: linear-gradient(rgb(211, 60, 60),rgb(255, 255, 255),rgb(211, 114, 114));
    padding: 1vh;
    width: 47%;
}
#take3:hover{
    background: linear-gradient(rgb(66, 15, 15),rgb(158, 152, 152),rgb(211, 114, 114));
}
span {
    position: absolute;
    border-radius: 2vh;
    padding: 6vh;
    bottom: 10vh;
    background: linear-gradient(rgb(211, 60, 60),rgb(255, 255, 255),rgb(211, 114, 114));
    animation: move 20s infinite;

}
@keyframes move {
    0% {left: 130px; }
    66% {left: 800px; }
    100% {left: 130px; }
    
}
span:hover {
    background: linear-gradient(rgb(114, 4, 4),rgb(255, 255, 255),rgb(148, 17, 17));
    
}