body {
    margin: 0px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    background-image: url('./../image/bgn.jpg');
    background-size: cover;
}
.nav  {
    display: flex;
    flex-direction: row;
    list-style: none;
    box-shadow: 10px 10px 5px 12px lightblue;
    background-image: linear-gradient(#4b00ff, #00fff3, #ffffff);
      
}
.nav > div {
    padding: 2vh 24vh 4vh 7vh;
    font-size: 8vh;
}
.First {
    display: none;
    padding: 2vh;
    border-radius: 8vh;
    background-color: gray;
}

.second {
    display: none;
    padding: 3vh;
    border-radius: 10vh;
    background-color: gray;
}
.First:hover>.second {
    display: initial;
    position: relative;
    top: 15vh;
    cursor: pointer;
    color: aliceblue;
}
.nav > div:hover {
    cursor: pointer;
    color: aliceblue;
}

.container:hover>div {
    display: initial;
    position: absolute;
    top: 10vh;
    left: 60vh;
    cursor: pointer;
    color: aliceblue;
}
.card{
    box-shadow: -20px 20px 20px 1px #63bd6e;
    border: 2px solid black;
    display: inline-block;
    padding: 5vh;
    width: 81vh;
    position: absolute;
    top: 47vh;
    left: 20vh;
    font-size: 3vh;
    font-weight: bolder;
    background-image: linear-gradient(to right, rgb(7 173 4 / 0%), rgb(8 219 151));
}
input{
    background-color: #10973F;
    color: white;
    padding: 2vh;
    font-weight: bold;
    border-radius: 2vh;
}
input:hover{
    background-color: #0b8335;
}