#icon {
    height: 22vh;
    width: 33vh;
}

body {
    background-color: bisque;
}
.item1 {
    border: 10px solid rgb(255, 255, 255);
    position: absolute;
    top: -20vh;
    left: 4vw;
    background-color: rgb(255, 255, 255);
    border-radius: 6vh;
}
.item2 {
    border: 10px solid rgb(255, 255, 255);
    position: absolute;
    top: 35vh;
    left: 29vw;
    background-color: rgb(255, 255, 255);
    border-radius: 6vh;
}
.item2 {
    border: 10px solid rgb(255, 255, 255);
    position: absolute;
    top: 23vh;
    left: 29vw;
    background-color: rgb(255, 255, 255);
    border-radius: 6vh;
}
.item3 {
    border: 10px solid rgb(255, 255, 255);
    position: absolute;
    top: 61vh;
    right: 27vw;
    background-color: rgb(255, 255, 255);
    border-radius: 6vh;
}
.item4 {
    border: 10px solid rgb(255, 255, 255);
    position: absolute;
    top: -15vh;
    right: 27vw;
    background-color: rgb(255, 255, 255);
    border-radius: 6vh;
}
.item5 {
    border: 10px solid rgb(255, 255, 255);
    position: absolute;
    top: -34vh;
    right: 8vh;
    background-color: rgb(255, 255, 255);
    border-radius: 6vh;
}
.item6 {
    border: 10px solid rgb(255, 255, 255);
    position: absolute;
    top: 41vh;
    right: 8vh;
    background-color: rgb(255, 255, 255);
    border-radius: 6vh
}
.item12 {
    border: 10px solid rgb(255, 255, 255);
    position: absolute;
    top: -49vh;
    left: 29vw;
    background-color: rgb(255, 255, 255);
    border-radius: 6vh;
}
.item11 {
    border: 10px solid rgb(255, 255, 255);
    position: absolute;
    top: 55vh;
    left: 4vw;
    background-color: rgb(255, 255, 255);
    border-radius: 6vh;
}

img {
    background-color: bisque;
    border-radius: 6vh;
    width: 19vw;
    height: 53vh;
}
.bottom {
    background-color: white;
    margin-bottom: 0px;
}

.cotrol {
    position: relative;
    background-color: #ffe4c429;
    top: -5vh;
}