body{
    margin: 0px;
    background-color: black;
}
h1{
    text-align: center;
    color: white;
    font-size: 8vh;
    border: 2px dotted;
    margin: 0px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content:center
}
.image-wid-hit{
    width: 46vh;
    height: 30vh;
    border: 2px solid rgb(98, 7, 7);
    
}
.none {
    display: none;
}
button{
    border:none;
}
.popup > img {
    height: 74vh;
    width: 47vw;
}
.popup{
    border: 2px solid blue;
    text-align: center;
    /* width: 58vw; */
    position: absolute;
    top: 10vh;
    left: 30%;
}
#cross {
    position: absolute;
    right: 2px;
    top: 5px;
}
img:hover{
    border: 2px dashed rgb(255, 255, 255);
    
}
h1:hover{
    border: 2px double gray;
}